@model GuessThatPokemon.Models.GameFormModel

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GameModel Game = ViewBag.Game ?? new GameModel();
}
<style>
    main{
        font-family:Courier New, Courier, monospace;
        font-size: 14pt;
    }
    .HintBox{
        width: 500px;
        height: 500px;
        background-color: peachpuff;
        border: solid black;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .HintLabel{
        font-size: 16pt;
        font-weight: bold; 
    }

    .GuessBox{
        width: 500px;
        height: 70px;
        border: solid black;
        padding: 10px;
        margin: 0 auto;
    }
    
</style>

<main>
    <div>
        <div class="HintBox">

            @if(Game.Guesses.Count >= 0)
            {
                <div>
                    <label class="HintLabel">Obtained from: </label>
                    @Game.Encounter.Location
                </div>
            }

            @if (Game.Guesses.Count >= 1)
            {
                

                <div>
                    <label class="HintLabel">Type 1: </label>
                    @Game.Encounter.Type1

                </div>
                    @if (@Game.Encounter.Type2 != null)
                    { 
                        <div>
                        <label class="HintLabel">Type 2: </label>
                        @Game.Encounter.Type2
                        </div>
                    }
            }

            @if (Game.Guesses.Count >= 2)
            {
                <div>
                    <label class="HintLabel">Ability: </label>
                    @Game.Encounter.Ability
                    <label class="HintLabel">Ability Description: </label>
                    @Game.Encounter.AbilDesc
                </div>
            }

            @if (Game.Guesses.Count >= 3)
            {
                string path = $"./css/sprites/{Game.Encounter.PokedexNum}_shape.png";
                <img src="@Url.Content(path)" style="margin-left:auto; margin-right: auto; display:block" />
            }

            
        </div>

        <div class="GuessBox">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div style="margin: 0 auto; width:400px; height:50px; align-content:center">
                    <label>Guess</label>
                    <input type="text" value="" id="guess" name="guess" style="width: 200px">
                   
                    <input type="submit" value="Guess" style="width: 100px; height:35px">
                </div>

                
            }
        </div>
    </div>


</main>
